* {
    background-color:#a74826;
    margin:0px;
}
  
h1 {
    text-align:center;
    font-family: 'Finger Paint', cursive;
    font-size:80px;
    color:rgba(167, 72, 38, .6);
    margin-top:0px;
    background-color:grey;
    width:100%;
    border-bottom:rgb(70,70,70) solid 1px;
    letter-spacing:
  }

nav {
    margin-left:35%;
}

ul {
    margin-top:15px;
    display:inline-block;
    border-style:border-box;
}

li {
    margin-top:10px;
    display:inline-block;
    border-right:solid black 1px;
}
  
li:first-child {
    border-left:solid black 1px;
}

a {
    text-decoration:none;
    padding:10px 15px 10px 15px;
    color:black;
    font-size:30px;
    font-family: "Acme", sans-serif;
}

nav a:hover {
    color:gold;
    background-color:#ba6749;
}

img {
  width: 30%;
  position:relative;
  margin-left: 35%;
  z-index:0;
}
