* {
    background-color:#d8a968;
    margin:0px;
}
  
h1 {
    text-align:center;
    font-family: 'Finger Paint', cursive;
    font-size:80px;
    color:rgba(152, 118, 69, .6);
    margin-top:0px;
    background-color:rgb(180,180,180);
    width:100%;
    border-bottom:rgb(70,70,70) solid 1px;
  }

nav {
    text-align:center;
    margin-bottom:20px;
}

nav ul {
    margin-top:15px;
    display:inline-block;
    border-style:border-box;
}

nav li {
    margin-top:10px;
    display:inline-block;
    border-right:solid black 1px;
}
  
nav li:first-child {
    border-left:solid black 1px;
}

nav a {
    text-decoration:none;
    padding:10px 15px 10px 15px;
    color:black;
    font-size:30px;
    font-family: "Acme", sans-serif;
}

nav a:hover {
    color:gold;
    background-color:#ba6749;
}

#salmonPic {
  width: 30%;
  position:relative;
  margin-left: 35%;
  z-index:0;
  margin-top:10px;
}

h4 {
    font-size:1.9rem;
    font-family: "Acme", sans-serif;
    margin:30px 0px 20px 0px;
    text-align:center;
    color:white;
}

p {
    font-family: 'Acme', sans-serif;
    font-size:1.4rem;
    text-indent:2%;
    margin:20px 15% 20px 15%;
    line-height:1.4;
    color:rgb(55,55,55);
}

#cookiePic {
    width:20%;
    margin-left:40%;
    margin-bottom:30px;
    border:solid black 2px;
}

.shrink {
    display:inline-block;
    width:20%;
    margin-left:40%;
    border:solid black 2px;
}

.price {
    color:skyBlue;
}

#merchItems {
    font-family: "Acme", sans-serif;
}

#merchItems h3 {
    margin-top:30px;
    text-align:center;
}

#merchItems li {
    margin-bottom:20px;
    text-align:center;
}