/*
FONTS FOR USE

font-family: 'Finger Paint', cursive;
font-family: 'Acme', sans-serif;
*/

* {
  background-color:#ba927e;
  margin:0px;
}

.restForms {
  font-family: "Acme", sans-serif;
  margin:10px 0px 0px 12px;
  position:absolute;
}

input {
  margin-left:20px;
  padding:3px 0px 3px 8px;
  background-color:white;
  border:solid black 1px;
  border-radius:20px;
  width:100%;
  display:inline-block;
}

input:hover {
  background-color:rgb(230,230,230);
}

input#submit {
  font-family: "Acme", sans-serif;
  border-radius:0px;
  background-color:white;
  width:30%;
  margin-top:10px;
  border:solid black 1px;
}

input#submit:hover {
  background-color:rgb(230,230,230);
}

label {
  min-width:110px;
  display:inline-block;
  margin-bottom:8px;
  width:400px;
}

.buttons {
  style:none;
}

h1 {
  text-align:center;
  font-family: 'Finger Paint', cursive;
  font-size:80px;
  color:rgba(186, 146, 126, .6);
  margin-top:0px;
  background-color:grey;
  width:100%;
  border-bottom:rgb(70,70,70) solid 1px;
}

table {
  width:98%;
  padding:10px;
  background-color:grey;
  color:white;
  margin:10px;
  border:white solid 2px;
  font-family: 'Acme', sans-serif;
}

td {
  padding:3px;
  padding-top:8px;
  padding-bottom:8px;
  text-align:center;
  background-color:olive;
  font-size:20px;
}

td:first-child {
    background-color:#34321c;
    padding:7px;
    color:white;
}
tr {
  background-color:white;
}

img {
  width: 30%;
  position:relative;
  margin-left: 35%;
  z-index:0;
}
